.createuser{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(150, 201, 63));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.createuser__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}
.createuser__container{
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    background-color: white;
}
.createuser__container>h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.createuser__container>form>h5{
    margin-bottom: 5px;
}
.createuser__container>form>input{
    height: 30px;
    margin-bottom: 10x;
    background-color: white;
    width: 98%;
}
.createuser__container>p{
    margin-top: 18px;
    font-size: 12px;
}
.createuser__signInButton{
    background:#f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top :10px;
    border-color: #a88734 #9c7e31 #846a29;
}
